$start-color:black;

$mid-color: #18015C;

$end-color: #0C936D;

$enable-gradients: true;


body{


    background-color: linear-gradient($start-color, $mid-color, $end-color );




    p{
        font-family: fairplex-narrow, serif;
        font-weight: 500;
        font-style: normal;
        color:white;
        font-size:15px;
    }

    h1{
        font-family: amaranth, sans-serif;
        font-weight: 700;
        font-style: normal;
        color:white;

    }

    h2{
        font-family: amaranth, sans-serif;
        font-weight: 400;
        font-style: normal;
        color:white;

    }

    h3{
        color:white;
    }


    .button{
        color:black;
        background-color: white;
    }

}



nav{
    

        .navbar{
        background-color: black;
        position:static;
        }

        a{
            .hover:hover{
                color: yellowgreen;
        }
    

            .active:active{
                color:greenyellow;


        }}}


