body{
    background-color: #18015C;





    nav{

    a{
    .hover:hover{
        color: yellowgreen;
    }
    

    .active:active{
        color:greenyellow;


    }}}



    p{
        font-family: fairplex-narrow, serif;
        font-weight: 500;
        font-style: normal;
        color:white;
        font-size:15px;
    }

    h1{
        font-family: amaranth, sans-serif;
        font-weight: 700;
        font-style: normal;
        color:white;

    }

    h2{
        font-family: amaranth, sans-serif;
        font-weight: 400;
        font-style: normal;
        color:white;

    }

    h3{
        color:white;
    }


    .button{
        color:black;
        background-color: white;
    }

}