$start-color:black;

$mid-color: #18015C;

$end-color: #0C936D;



body{

    p{
        padding-top:20px;
        font-family: fairplex-narrow, serif;
        font-weight: 500;
        font-style: normal;
        color:white;
        font-size:15px;
    }

    h1{
        font-family: amaranth, sans-serif;
        font-weight: 700;
        font-style: normal;
        color:white;

    }

    h2{
        font-family: amaranth, sans-serif;
        font-weight: 400;
        font-style: normal;
        color:white;

    }

    h3{
        color:white;
    }


    .button{
        color:black;
        background-color: white;
        padding:10px;
        border-radius: 20px;
        text-align: center;
    }

    img{
        padding-bottom: 20px;
    }

}



nav{
    padding-top:50px;
    
    flex-direction: column;

    
    ul{
        text-align:center;
    }

        a{
            .hover:hover{
                color: yellowgreen;
        }
    

            .active:active{
                color:greenyellow;


        }}
    }

        .navbar-expand-lg .navbar-nav {
            flex-direction: column;
        }
   
        .navbar {
            @media (min-width:992px){
                position:fixed;              
            }
            
            
            
        }



body{
    background: rgb(0, 0, 0);
background: -moz-linear-gradient(167deg, rgba(30,30,30,1) 0%, rgba(24,1,92,1) 49%, rgba(14,116,105,1) 100%);
background: -webkit-linear-gradient(167deg, rgba(30,30,30,1) 0%, rgba(24,1,92,1) 49%, rgba(14,116,105,1) 100%);
background: linear-gradient(167deg, rgba(30,30,30,1) 0%, rgba(24,1,92,1) 49%, rgba(14,116,105,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e1e1e",endColorstr="#0e7469",GradientType=1);
background-attachment: fixed;
}



.thumb1{
    width: 100%;
    height:250px;
    object-fit: cover;
    position: relative;
    padding-bottom: 15px;
}

.thumb2{
    width: 100%;
    height:150px;
    object-fit: cover;
    position: relative;
    padding-bottom: 15px;
}



article{
    @media (min-width: 992px){
      padding-top: 100px;
      
    }
}
      
aside{
    @media (min-width: 992px){
        padding-top: 100px;
        
      }
}


.info{
    @media (min-width: 992px){
    position:fixed;
    width:400px;     
    }
    
}

.navbar-toggler {
    border-color: lightgreen;
}

.logo{
    width: 150px;
    margin:0 auto;
}

img{
    @media (min-width:992px) {
        width:100%;
        
    }
}